#chat-window {
  position: absolute;
  display: table-column;
  border: 1px #e3e3e3 solid;
  width: 70%;
  top: 70px;
  right: 0;
  /* background-color: rgb(179, 236, 179); */
}

#chat-header {
  font-size: 1.5em;
  background-color: #ededed;
}

#chat-content {
  overflow: scroll;
  height: 90vh;
  background-image: url("../backround-image.jpg");
}

::-webkit-scrollbar {
  display: none;
}

#user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px;
}

#message-input {
  width: 88%;
  height: 2em;
}

#send-btn {
  width: 9%;
  height: 2.25em;
}
